.AppButton{
    padding: 8px 19px;
    border: 1px solid #ccc;
    font-weight: bold;
    text-transform: uppercase;

    &:focus, &:active {
        outline:none;
    }

    &:hover{
        background: rgb(222, 255, 145);
    }
}